# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.swp
*.bak
*.dmp

# Environment files
.env
*.env

# Django secret keys and settings files
config/secrets.py

# Media folder (uploaded files)
media/

# Static files (if using collectstatic)
static/

# Virtual environment directories
venv/
env/
.venv/
.env/

# IDE and Editor folders
.vscode/
.idea/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Other
*.log
